<!DOCTYPE html>
<html lang="en">


  
<body>
	
<div class="banner">
	<%= image_tag "nouveau1.jpg", class: "imageBanner"%>
	<div class= "titre-banner">
		<h1 class="ti">"Toutes les Actualités Du Foot, Vous Les Trouvez Ici. N'hésitez Pas De Nous Contacter Pour Plus d'Informations."</h1>
		
		<p> </p><br/>
		<a href="<%=home_contact_path%>" class="btn btn-success"><strong><em>Contactez-nous</em></strong></a>
	

			
	</div>
	
</div>
<div id="imagess"> 
				
				<div class="sarysor1">
					<div>
					<%= image_tag "1.jpg", class: "sary1"%>
					</div>
				
						<div class="card-body">
							<h4 class="card-title"><a href=""><em>Championnat</em></a></h4>
						</div>
				</div>
			
				<div class="sarysor2">
					<div>
						<%= image_tag "2.jpg", class: "sary2"%>
					</div>
					<div class="card-body">
						<h4 class="card-title"><a href="<%=mercato_estivale_path%>">Mercato</a></h4>
					</div>
				</div>

				<div class="sarysor3">
					<div>
						<%= image_tag "3.jpg", class: "sary3"%>
					</div>
					<div class="card-body">
								<h4 class="card-title"><a href="<%= home_marque_path%>">Equipe</a></h4>
					</div>
				</div>
			</div>

<div>
	<div class="text-intro">
	<div class="row">
		<div class="col-lg-6 sadir0">
			<%= image_tag "mbapecdm", class: "mbappe"%>
			<div class="card-body">
				<h4 class="card-title"><em>Kylian Mbappé</em></h4>
				<h6 class="category text-gray"><strong>Champion tricolore le plus cher</strong></h6>
				<p class="card-description"> Une des pièces maitresses courtisée par les plus grandes écuries d'Europe actuellement en pleine forme au PSG</p>
				
			</div>
		</div>
		<div class="col-lg-6">
			<p>
				

			</p><br>
			<p>
				<strong>lors de ses dernières performantes saisons depuis l'As Monaco, et parisien actuellement, le champion du monde tricolore en titre vaut beaucoup plus que l'auriverde qui a battu le record de transfert de tout le temps.</strong>
			</p>
			<p>
				<strong>La liste des 30 nommés pour le Ballon d'or, le prix individuel que chaque joueur rêverait de gagner est déjà sortie cette semaine. Comme chaque depuis une douzaine d'années les deux monstres/extraterrestres du football apparaissent evidemment sur la liste et celui qui a gagné beaucoup de trophée individuel cette année monte sur le podium.</strong>
			</p>
			<p>
			</p>
			<p class="soratra">
				Nihpares&Football
			</p>		
		</div>
	</div>
</div>
<div class="bli">
	<div class="row">
		
		<div class="col-lg-6">	
			<p></p><br>
			<p></p><br>
			<p>
				<strong>"Malgré les rumeurs entendues par ci par là, de nombreuses sont vraiment libre de tout contrat dès le début du nouvel an et d'autres se contentent de leur club actuel car ils y sentent mieux et n'envisagent de partir à aucun club qui leur envie. Par contre, beaucoup de joueurs passent déjà des visites médicales dans les clubs qui vont les acheter durant ce prochain mercato hivernal comme le cas de Samir Nasri qui sera à Westham United dès ce janvier pour un contrat d'une saison."</strong>
			</p>
		</div>
		<div class="col-lg-6 sadir">
				<div id="proj">
				<%= image_tag "adidacoda", class: "filetba"%>
				<%= image_tag "telstra", class: "filetbal1"%>
				</div>	
				<div class="card-body">
					<h4 class="card-title"><a href=""><em>Mercato hivernal</em></a></h4><p> </p>
					<h6 class="category text-gray"><strong>Ca chauffe dès maintenant</strong></h6>
					
				</div>
		</div>
	</div>
</div>
 <footer>
  <div class="iconambany">
    <a href=""><%= image_tag "faceb", class: "iconambany-facebook"%></a>
    <a href=""><%= image_tag "instagram", class: "iconambany-insta"%></a>

  </div>
</footer>
	</body>
	
</html>